<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
		 
		 <!-- Flatpickr -->
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
           
         <title>店舗詳細</title>   
     </head>
     <body>
         <div class="tabelog-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 tabelog-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                 </ol>
                             </nav> 
                             
                             <h1 class="mb-4 text-center" th:text="${store.getName()}"></h1>                                                           
                             
                             <div th:if="${errorMessage}" class="alert alert-danger">
                                 <span th:text="${errorMessage}"></span>
                             </div>                                                                         
                             
                             <div class="mb-4">
                                 <img th:if="${store.getImageName()}" th:src="@{/storage/__${store.getImageName()}__}" class="w-100" alt="店舗画像">
                                 <img th:unless="${store.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                             </div> 
                             
                             <div class="container">  
                                 <div class="row">
                                     <div class="col-lg-8 container mb-4">            
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">店舗名</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${store.getName()}"></span>
                                             </div>
                                         </div>                    
                     
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">説明</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span class="tabelog-pre-wrap" th:text="${store.getDescription()}"></span>
                                             </div>
                                         </div>
                     
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">価格帯</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${#numbers.formatInteger(store.getPriceMax(), 1, 'COMMA') + '円' + '～'}"></span>
                                             </div>
                                         </div> 
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">座席数</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${store.getCapacity() + '席'}"></span>
                                             </div>
                                         </div>   
										 
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">郵便番号</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${store.getPostalCode()}"></span>
                                             </div>
                                         </div>    
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">住所</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${store.getAddress()}"></span>
                                             </div>
                                         </div>   
                                         
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-4">
                                                 <span class="fw-bold">電話番号</span>
                                             </div>
                     
                                             <div class="col">
                                                 <span th:text="${store.getPhoneNumber()}"></span>
                                             </div>
                                         </div>                                
                                     </div>
                                     
                                     <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                         <div class="card">
                                             <div class="card-body">                                                                                                                                                                                                                     
                                                 <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
                                                 <button type="submit" class="btn text-white shadow-sm w-100 tabelog-btn" disabled>予約する</button>                                                                                                                
                                             </div>
                                         </div> 
									</div>
										  
									 <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                          <div class="card">
                                              <div class="card-body"> 
                                                  <form method="get" th:action="@{/stores/__${store.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                      <div class="form-group mb-2">                                            
                                                          <label for="reservationDate" class="col-form-label text-md-left fw-bold">予約日</label>    
                                                          <div th:if="${#fields.hasErrors('reservationDate')}" class="text-danger small mb-2" th:errors="*{reservationDate}"></div>                                          
                                                          <input type="text" class="form-control" th:field="*{reservationDate}">                                                                     
                                                      </div>
                                                      
                                                      <div class="form-group mb-4">                                            
                                                          <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">予約人数</label>  
                                                          <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                          <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                      </div>
                                                                                                          
                                                      <div class="form-group">
                                                          <button type="submit" class="btn text-white shadow-sm w-100 tabelog-btn">予約する</button>
                                                      </div>
                                                  </form>                                                                     
                                              </div>
                                          </div>  
                                      </div> 
									  
									  
									  <h2 class="text-center mb-3">レビュー</h2>
									  
									  <div sec:authorize="isAnonymous()" class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
										<div class="col">
											<p>レビューを投稿するには<a th:href="@{/login}">ログイン</a>が必要です。</p>
											<button type="submit" class="btn text-white shadow-sm w-100 tabelog-btn" disabled>レビューを投稿する</button>
										</div>                 
  									  </div>

									  <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">
											<div class="card">
												<div class="card-body">
													<form method="post" th:action="@{/stores/__${store.getId()}__/reviews/register}" th:object="${reviewForm}">
														<div class="form-group mb-2">
															<label for="comment" class="col-form-label text-md-left fw-bold">コメント</label>
															<div th:if="${#fields.hasErrors('comment')}" class="text-danger small mb-2" th:errors="*{comment}"></div>  
<!--															test-->
															<p th:text="${reviewForm.comment}">コメント</p>
															                                        
															<input type="text" class="form-control" th:field="*{comment}">
														</div>
														<div class="form-group">
															<label for="rating">評価</label>
															<select id="rating" th:field="*{rating}" class="form-control">
																<option value="1">&#9734;</option>
																<option value="2">&#9734;&#9734;</option>
																<option value="3">&#9734;&#9734;&#9734;</option>
																<option value="4">&#9734;&#9734;&#9734;&#9734;</option>
																<option value="5">&#9734;&#9734;&#9734;&#9734;&#9734;</option>
															</select>
														</div>
														<button type="submit" class="btn btn-primary">レビューを送信</button>
												  	</form>
												</div>
											</div>
									  </div>
									  
				  						<div th:if="${storeHasReviews}" class="watch">
											<h3 class="text-center">レビュー一覧</h3>
											<div th:each="review : ${store.reviews}">
												<p><span th:text="${review.comment}">コメント</span></p>
												<p>評価： <span th:utext="'&#9733;'.repeat(${review.rating}) + '&#9734;'.repeat(5 - ${review.rating})"></span></p>
											</div>
										</div>
				                        <div th:unless="${storeHasReviews}">
				                            <p class="text-center">まだレビューがありません</p>
				                        </div>
                                 </div>                                                                                             
                             </div>
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
		 
		 <!-- Flatpickr -->
	     <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	     <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	     <script th:src="@{/js/flatpickr.js}"></script>
   </body>
 </html>